:root {
    --primary-font-color: #2e2f42;
    --secondary-font-color: #ffffff;
    --accent-font-color: #404bbf;

    --primary-background-color: #ffffff;
    --accent-background-color: #2e2f42;

    --primary-button-color: #4d5ae5;
    --secondary-button-color: #f4f4fd;
    --accent-button-color: #404bbf;

    --border: #e7e9fc;
    --success: #31d0aa;
    --dark: #424355;
    --subtle-font: #8e8f99;

    --action: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color: tom;

    color: var(--primary-font-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body.mobile-menu-open {
    overflow: hidden;
}

.list {
    list-style: none;
}

.cont2 {
    min-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .cont2 {
        width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .cont2 {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .cont2 {
        width: 1158px;
    }
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header_line {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* ----------------Logo------------------- */
.header_logo {
    color: var(--primary-font-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: "normal";
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-right: 76px;
}

@media screen and (max-width: 767px) {
    .logo-nav {
        padding-top: 24px;
        padding-bottom: 22px;
    }
}

@media screen and (min-width: 768px) {
    .logo-nav {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.header_span {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        flex: none;
        order: 0;
        flex-grow: 0;
    color: var(--primary-button-color);
}

/* -----------------Nav------------------- */
.header-navigation {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header_cont {
        display: flex;
        align-items: center;
    }
    .list_osn {
        display: flex;
        gap: 40px;
        margin-left: 120px;
    }
}

.menu-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.nav-icon {
    fill: currentColor;
}

.menu-btn:hover > .nav-icon,
.menu-btn:focus > .nav-icon {
    fill: var(--accent-font-color);
}

.nav-item {
    position: relative;
}

.current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;

    border: 2px solid #404bbf;
    border-radius: 2px;
}

.header_link {
    display: block;

    color: var(--primary-font-color);
    text-transform: capitalize;

    transition: color 250ms var(--action);
}

@media screen and (max-width: 767px) {
    .nav-list,
    .address {
        display: none;
    }
    .nav-item:not(:last-child) {
        margin-bottom: 40px;
    }
    .header_link{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }
    .header_link {
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.current {
    color: var(--accent-font-color);
}

.header_link:hover,
.header_link:focus {
    color: var(--accent-font-color);
}

/* ------------------Address--------------- */
.address {
    margin-left: auto;
}

.address-link {
    display: block;
    font-style: normal;

    transition: color 250ms var(--action);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-font-color);
}

@media screen and (max-width: 767px) {
    .address-item:not(:last-child) {
        margin-bottom: 40px;
    }
    .address-link.tel {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--accent-font-color);
    }
    .address-link.mail {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 768px) {
    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
    .address-list {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .address-item:not(:last-child) {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .address-list {
        display: flex;
        align-items: center;
        column-gap: 40px;
        padding: 0;
    }
    .address-link {
        color: var(--primary-font-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .address-item:not(:last-child) {
        margin-bottom: 0;
    }
}

/* -----------------Main------------------- */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title {
    margin-bottom: 72px;

    color: var(--primary-font-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team-title,
.work-title {
    margin-top: 0;
    margin-bottom: 8px;

    color: var(--primary-font-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ---------------------Hero------------------------ */
.fon_text {
    width: 320px;
    margin: 0 auto 72px;
    color: var(--secondary-font-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
    .fon_text {
        text-transform: capitalize;
    }
}

@media screen and (min-width: 768px) {
    .fon_text {
        width: 496px;
        margin: 0 auto 36px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media screen and (min-width: 768px) {
    .fon_text {
        width: 496px;
        margin: 0 auto 36px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media screen and (min-width: 1200px) {
    .fon_text {
        width: 496px;
        margin: 0 auto 48px;
    }
}

.hero_title {
    min-width: 320px;

    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 112px;

    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/mobile-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero_title {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/mobile-hero@2x.jpg);
    }
}

@media screen and (min-width: 428px) {
    .hero_title {
        /* width: 428px; */
    }
}

@media screen and (min-width: 768px) {
    .hero_title {
        /* width: 768px; */
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/tablet-hero.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero_title {
            background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/tablet-hero@2x.jpg);
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero_title {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/desctop-hero.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero_title {
            background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/desctop-hero@2x.jpg);
        }
    }
}
.fon_btn {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    min-width: 170px;
    min-height: 56px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--secondary-font-color);
    border: none;
    background-color: var(--primary-button-color);
    transition: background-color 250ms var(--action);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
}

.fon_btn:hover,
.fon_btn:focus,
.fon_btn:active {
    background-color: var(--accent-button-color);
}




.button {
    border: none;
    border-radius: 4px;

    background-color: var(--primary-button-color);
    color: var(--secondary-font-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms var(--action);
}


/* ---------------Features---------------- */
.section2,
.team-container,
.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media (min-width: 1200px) {
    .section2,
    .team-container,
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@media screen and (max-width: 767px) {
    .about-list-item:not(:last-child),
    .team-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .features_osn_list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .about-list-item {
        flex-basis: calc((100% - 1 * 24px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .features_osn_list {
        flex-wrap: nowrap;
    }
    .about-list-item{
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
}

.feature-block-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;

    background-color: var(--secondary-button-color);
    border-radius: 4px;
}

@media screen and (max-width: 1199px) {
    .feature-block-icon {
        display: none;
    }
}

.feature-title {
    margin-top: 0;
    margin-bottom: 8px;

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

@media screen and (max-width: 767px) {
    .feature-title {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .feature-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

/* -------------Occupation-------------- */
@media screen and (max-width: 1199px) {
    .works-section {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .works-section {
        padding-bottom: 120px;
    }

    .works_list {
        display: flex;
        column-gap: 24px;
    }

    .occupation-item {
        flex-basis: calc((100%-2 * 24px) / 3);
    }
}
.occupation-list{
    display: flex;
}
/* -----------------Team---------------- */
.team {
    min-width: 320px;
   
}
.section-item{
     background-color: var(--secondary-button-color);
}
.team .container {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
    .team .container {
        width: 582px;
    }
}

@media screen and (min-width: 1200px) {
    .team .container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.team-item {
    width: 264px;
    background-color: var(--primary-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
    .team-item {
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .team-list {
        flex-wrap: nowrap;
    }
}

.team-label {
    text-align: center;
    padding: 32px 16px;
}

.team-text {
    margin-bottom: 8px;
}

.team-svg-list {
    display: flex;
    column-gap: 24px;
}

.team-svg-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-svg-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--primary-button-color);

    transition: background-color 250ms var(--action);
}

.team-svg-link:hover,
.team-svg-link:focus {
    background-color: var(--accent-button-color);
}

/* ---------------Customers---------------- */
@media screen and (min-width: 768px) and (max-width: 1139px) {
    .customers .container {
        width: 582px;
    }
}

.customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
}

@media screen and (max-width: 767px) {
    .customers-list {
        column-gap: 16px;
    }
    .customer-item {
        flex-basis: calc((100% - 1 * 16px) / 2);
    }
}

@media screen and (min-width: 768px) {
    .customers-list {
        column-gap: 24px;
    }
    .customer-item {
        flex-basis: calc((100% - 2 * 24px) / 3);
    }
}

@media screen and (min-width: 1200px) {
    .customers-list {
        flex-wrap: nowrap;
        width: 100%;
    }
    .customer-item {
        flex-basis: calc((100% - 5 * 24px) / 6);
    }
}

.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;

    transition: color 250ms var(--action), border-color 250ms var(--action);
}

.customer-icon {
    display: block;
    box-sizing: border-box;

    fill: currentColor;
}

.customer-link:hover,
.customer-link:focus {
    border-color: var(--accent-font-color);
    color: var(--accent-font-color);
}


.footer-logo-osn {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: var(--primary-button-color);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.fot_osn {
    text-decoration: none;

}
.footer_span_osn{
    font-family: "Raleway", sans-serif;
        color: var(--secondary-button-color);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        flex: none;
        order: 0;
        flex-grow: 0;
}


/* ----------------Modal----------------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 1;
    visibility: visible;

    transition: opacity 250ms var(--action), visibility 250ms var(--action);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 320px;
    height: auto;
    padding: 72px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    background-color: var(--primary-background-color);

    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms var(--action);
}

@media screen and (min-width: 428px) {
    .modal {
        width: 408px;
        height: 584px;
    }
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;
    width: 24px;
    height: 24px;

    color: var(--primary-font-color);
    background-color: rgba(231, 233, 252, 0.1);
    border: 1px solid rgba(46, 47, 66, 0.1);
    border-radius: 50%;

    transition: background-color 250ms var(--action), color 250ms var(--action);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    fill: currentColor;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--accent-font-color);
    color: var(--secondary-font-color);
    border-color: transparent;
}

.nodal-title {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-font-color);
}

.modal-form-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.modal-input-wrapper {
    display: flex;
    flex-direction: column;
    column-gap: 4px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-font);
    margin-bottom: 4px;
}

.modal-input-container {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 11px 34px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--primary-font-color);

    transition: border-color 250ms var(--action);
}

.modal-input:hover,
.modal-input:focus {
    border-color: var(--primary-button-color);
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    transition: fill 250ms var(--action);
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
    fill: var(--primary-button-color);
}

.modal-textarea {
    padding: 8px 16px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--primary-font-color);
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-policy-label {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.policy-input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.modal-policy-text {
    margin-left: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-font);
}

.modal-policy-link {
    color: var(--primary-button-color);
    text-decoration: underline;
}

.policy-checkbox {
    min-width: 16px;
    min-height: 16px;

    border: 1px solid var(--primary-font-color);
    border-radius: 2px;

    transition: background-color 250ms var(--action), background-image 250ms var(--action), border 250ms var(--action);
}

.policy-input:checked + .policy-checkbox {
    border-color: transparent;
    background-color: var(--accent-button-color);
    background-image: url(../images/chek-box.svg);
    background-repeat: no-repeat;
    background-size: 10px 8px;
    background-position: center;
    background-origin: border-box;
}

.modal-send-btn {
    display: block;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    text-align: center;
    padding: 16px 32px;
}

.modal-send-btn:hover,
.modal-send-btn:focus {
    background-color: var(--accent-button-color);
}

/* ----------------Footer---------------- */
.footer {
    min-width: 320px;
    background-color: var(--accent-background-color);
}

.footer .container {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
    .footer .container {
        width: 582px;
    }
}

@media screen and (min-width: 768px) {
    footer .container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .footer .container {
        padding-top: 100px;
        padding-bottom: 100px;
        justify-content: center;
        flex-wrap: nowrap;
    }
}

.logo.logo-footer {
    color: var(--secondary-font-color);
}

.footer-logo-wrapper {
    width: 268px;
}

.footer-text {
    margin-top: 16px;
    color: var(--secondary-font-color);
}

.footer-social-media {
    width: 208px;
}

@media screen and (max-width: 767px) {
    .logo.logo-footer {
        display: block;
        text-align: center;
    }
    .footer-logo-wrapper {
        margin: 0 auto;
    }
    .footer-social-media {
        margin: 72px auto;
    }
}

@media screen and (min-width: 768px) {
    .footer-logo-wrapper {
        width: 264px;
    }
    .footer-social-media {
        margin-left: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-social-media {
        margin-left: 120px;
        margin-right: 80px;
    }
}

.footer-social-media-title,
.subscribe-form-title {
    margin-bottom: 16px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-font-color);
}

@media screen and (max-width: 767px) {
    .footer-social-media-title,
    .subscribe-form-title {
        text-align: center;
    }
}

.social-media-list {
    display: flex;
    column-gap: 16px;
}

.footer-social-media-item {
    flex-basis: calc((100%-3 * 16px) / 4);
}

.footer-social-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--dark);

    transition: background-color 250ms var(--action);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
    background-color: var(--success);
}

@media screen and (min-width: 768px) {
    .subscribe {
        width: 453px;
    }
    .subscribe-form {
        display: flex;
        column-gap: 24px;
    }
}

.subscribe-input {
    display: block;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--accent-background-color);
    font-size: 12px;
    line-height: 2;
    color: var(--secondary-font-color);
}

.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
    display: flex;
    column-gap: 16px;
    padding: 8px 24px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--accent-button-color);
}

.send-icon {
    fill: var(--secondary-font-color);
}

@media screen and (max-width: 767px) {
    .subscribe-input {
        width: 100%;
    }
    .subscribe-btn {
        margin: 16px auto 0;
    }
}

@media screen and (min-width: 768px) {
    .subscribe-input {
        width: 264px;
    }
}

.subscribe-btn-wrapper {
    position: relative;
}

/* -----------------Mobile menu---------------------- */
.mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-background-color);

    transform: translateX(100%);
    opacity: 0;
    transition: transform 250ms var(--action), opacity 250ms var(--action);
}

.menu-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    min-width: 320px;
    height: 100%;
    padding: 80px 8px 40px 9px;
    background-color: var(--primary-background-color);

    overflow-y: scroll;
}

@media screen and (min-width: 428px) {
    .menu-wrap {
        width: 428px;
        padding: 80px 35px 40px 40px;
    }
}

.menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;
    width: 24px;
    height: 24px;

    color: var(--primary-font-color);
    background-color: rgba(231, 233, 252, 0.1);
    border: 1px solid rgba(46, 47, 66, 0.1);
    border-radius: 50%;

    transition: background-color 250ms var(--action), color 250ms var(--action);
}

.menu-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    fill: currentColor;
}

.menu-close-btn:hover,
.menu-close-btn:focus {
    background-color: var(--accent-font-color);
    color: var(--secondary-font-color);
    border-color: transparent;
}

@media screen and (min-width: 768px) {
    .mobile-menu-container {
        display: none;
    }
}

.mobile-menu-container.is-open {
    opacity: 1;
    transform: translateX(0);
}

.menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu-current {
    color: var(--accent-font-color);
}

.address-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.menu-social-media-list {
    min-width: 304px;
    display: flex;
    align-items: center;
    column-gap: 48px;
}

.menu-social-media-item {
    flex-basis: calc((100% - 3 * 48px) / 4);
}

@media screen and (min-width: 428px) {
    .menu-social-media-list {
        width: 328px;
        column-gap: 56px;
    }
    .menu-social-media-item {
        flex-basis: calc((100% - 3 * 56px) / 4);
    }
}
