:root {
    --primary-text-color: #434455;
    --secondary-background-color: #f4f4fd;
    --second-btn-color: #e7e9fc;
    --variable-color: #404bbf;
    --accent-color: #4D5AE5;

    --blue-color: #2E2F42;
    --white-color: #ffffff;
    --text-company-color: #8E8F99;
    --soc-focus-color: #31D0AA;
    --action: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.cont {
    display: flex;
}


.list_osn {
    list-style: none;
    display: flex;
    gap: 40px;
}
.form-wrapper {
    display: flex;
    align-items: center;
}

.subscribe-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-items: center;
    letter-spacing: 0.04em;
    width: 264px;
    height: 40px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:is(:hover, :focus) {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--white-color);
    border-color: var(--white-color);
}

.button-subscribe {
    width: 165px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    margin-left: 24px;
    color: var(--white-color);
    border: 1px solid #4D5AE5;
    background: var(--accent-color);
    border-radius: 4px;
    outline: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:is(:hover, :focus) {
    background-color: var(--variable-color);
}


.button-sub-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    outline: transparent;
}

.subscribe-icon {
    margin-left: 16px;
    fill: var(--white-color);
}

.section-pre {
    padding-top: 96px;
    padding-bottom: 120px;
}


.list_button {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.list_button_element {
    cursor: pointer;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    justify-content: center;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: var(--accent-color);
    background-color: var(--secondary-background-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list_button_element:hover {
    color: var(--white-color);
    background-color: var(--variable-color);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list_button_element:focus {
    color: var(--white-color);
    background-color: var(--variable-color);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio2 {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 48px 24px;
}

.section-list-item2 {
    background: var(--white-color);

}

.gallery2 {
    padding: 32px 0 32px 16px;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
}

.section-title2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--blue-color);
    margin-bottom: 8px;
}

.section-link2 {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.shadow {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms var(--action);
}

.shadow:hover,
.shadow:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.shadow:hover .overlay2,
.shadow:focus .overlay2 {
    transform: translateY(0);
}

.work-thumb2 {
    position: relative;
    overflow: hidden;
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    mix-blend-mode: normal;
    transform: translateY(100%);
    transition: transform 250ms var(--action);
}

.work-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 296px;
    transform: translate(40px, 32px);
    color: var(--secondary-background-color);
}
